<div class="card mb-4">
	<div class="wrapper" *ngIf="animal">
		<div class="card">
			<img
				src="{{animal.photoUrl}}" />
			<div class="descriptions">
				<h1>{{animal.name}}</h1>
				
				<ul>
					<li>City: {{animal.favoriteTreat}}</li>
					<li>Created: {{animal.created}}</li>
					<li>Age: {{animal.age}}</li>
				  </ul>

				<button routerLink="/members/{{animal.knownAs}}">
					<i class="fa fa-user"></i>
				</button>
				<button >
					<i class="fa fa-heart"></i>
				</button>
				<button>
					<i class="fa fa-envelope"></i>
				</button>
			</div>
		</div>
	</div>
</div>