
<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-warning btn-lg me-2">Register</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)='cancelRegisterMode($event)'></app-register>
            </div>
        </div>
    </div>
</div>



<div class="accordion">
    <ul>
        <li><a routerLink="/lists">
                <div>
                    <h1>Matches</h1>
                    <p>See pals that you have matched with </p>
                </div>
            </a> </li>
        <li><a (click)="registerToggle()">
                <div>
                    <h1>Register</h1>
                    <p>Create a profile and see a list of pals to match with!</p>
                </div>
            </a> </li>
        <li><a routerLink="/messages">
                <div>
                    <h1>Messages</h1>
                    <p>See all your messages!</p>
                </div>
            </a> </li>
    </ul>
</div>