<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
			<h1>Create Account</h1>
			<input formControlName="username" class="form-control me-sm-2 text-dark" type="text" [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched" placeholder="Username" />
			<div class="invalid-feedback">Please enter a username for your profile</div>
			<input formControlName="password" class="form-control me-sm-2 text-dark" type="password" [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched" placeholder="Password" />
			<div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">Please enter a password for your profile</div>
			<div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">Atleast 4 characters</div>
			<div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('maxlength')">Not more than 8 characters</div>
			<input formControlName="confirmPassword" class="form-control me-sm-2 text-dark" type="password" [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched" placeholder="Confirm Password" />
			<div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Please confirm your password</div>
			<div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">Password does not match</div>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
			<h1>Sign in</h1>
			<input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="Username" />
			<input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>