<div class="row" *ngIf="animal">
    <div class="col-4">
        <img src="{{animal.photoUrl || './assets/user.png'}}" alt="{{animal.knownAs}}"
            class="card-img-top img-thumbnail">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Age: hello</strong>
                    <p>{{animal.dateOfBirth}}</p>
                </div>
                <div>
                    <strong>Gender:</strong>
                    <p>{{ animal.gender }}</p>
                </div>
                <div>
                    <strong>Favorite Treat:</strong>
                    <p>{{animal.favoriteTreat}}</p>
                </div>
                <div>
                    <strong>Favorite Toy:</strong>
                    <p>{{animal.favoriteToy}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{animal.knownAs}}">
                <p>Gender: {{animal.gender}}</p>
                <h4>Bio</h4>
                <p>Date of Birth: {{animal.dateOfBirth}}</p>
                <p>Age: {{animal.age}}</p>
            </tab>
            <tab heading="Interests">
                <p>Favorite Toy: {{animal.favoriteToy}}</p>
                <p>Favorite Treat: {{animal.favoriteTreat}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages">
                <p>Messages will go here</p>
            </tab>
        </tabset>
    </div>
</div>