<div class="row" *ngIf="member">
    <div class="col-4">
        <h1>{{capitalizeFirstLetter(member.username)}}s profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <app-photo-editor [member]="member"></app-photo-editor>
            </div>
        </div>
    </div>
    
    <div class="col-8">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Description</h4>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction"
                    rows="6"></textarea>
                    
                    <h4 class="mt-2">Looking for</h4>
                    <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor"
                    rows="6"></textarea>
                    
                    <h4 class="mt-2">Gender & Mood</h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="gender">Gender: </label>
                        <select class="form-control" [(ngModel)]="member.gender" name="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                        <label for="mood">Mood:</label>
                        <select class="form-control" [(ngModel)]="member.mood" name="mood">
                            <option value="playful">Playful</option>
                            <option value="calm">Calm</option>
                        </select>
                    </div>
                    
                    <h4 class="mt-2">Location Details: </h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="city">City: </label>
                        <input type="text" [(ngModel)]="member.city" name="city" class="form-control mx-2">
                        <label for="country">Country: </label>
                        <input type="text" [(ngModel)]="member.country" name="country" class="form-control mx-2">
                    </div>
                </form>
                
            <div class="card-footer">
                <button type="submit" [disabled]="!editForm.dirty" form="editForm" class="btn btn-success col-12">Save
                    changes</button>
            </div>
    </div>
</div>