<div class="row" *ngIf="member">
    <div class="col-4">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}"
            class="card-img-top img-thumbnail">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive | date}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Introduction: </strong>
                    <p>{{member.introduction}}</p>
                </div>
                <div>
                    <strong>Looking For: </strong>
                    <p>{{member.lookingFor}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button (click)="addLike(member)" class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.username}}" (selectTab)="onTabActivated($event)">
                <p>Name: {{member.username}}</p>
                <h4>Age</h4>
                <p>Date of Birth: {{member.age}}</p>
                <p>Age: {{member.age}}</p>
            </tab>
            <tab heading="Bio" (selectTab)="onTabActivated($event)">
                <p>City: {{member.city}}</p>
                <p>Country: {{member.country}}</p>
            </tab>
            <tab heading="Photos" (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>