<div class="row">
    <div class="col-4">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}"
            class="card-img-top img-thumbnail">
        <div class="card">
            <div class="card-body">
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active: </strong>
                    <p>{{member.lastActive | date}}</p>
                </div>
                <div>
                    <strong>Account Created: </strong>
                    <p>{{member.created | date}}</p>
                </div>
                <div>
                    <strong>Mood: </strong>
                    <p>{{member.mood}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <app-button [label]="'Like'" (click)="addLike(member)"></app-button>
                    <app-button [label]="'Message'" (click)="selectTab('Messages')"></app-button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.username}}" (selectTab)="onTabActivated($event)">
                <h4>Introduction</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking For</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Photos" (selectTab)="onTabActivated($event)">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [messages]="messages" [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>