<div class="card">
    <div class="card-body">
        <div *ngIf="messages.length === 0">
            Send a new message...
        </div>

        <ul *ngIf="messages.length > 0" class="chat">
            <li *ngFor="let message of messages">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-square" 
                            src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                            alt="image of user" style="width: 60px; height: 60px;">
                    </span>
                    
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{message.messageSent + 'Z'}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead 
                                    && message.senderUsername !== username">(unread)</span>
                                <span class="text-success" *ngIf="message.dateRead 
                                    && message.senderUsername !== username">(read {{message.dateRead | date}})</span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    [(ngModel)]="messageContent"
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a private message">
                <div class="input-group-append">
                    <app-button [label]="'Send'" type="submit" ></app-button>  <!--make is disable [disabled]="!messageForm.valid" when there are no input --> 
                </div>
            </div>
        </form>
    </div>
</div>
Footer
© 2023 GitHub, Inc.