* {
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
  margin: 16px;
  font-size: 96px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
  cursor: pointer;

  &::before {
    content: attr(data-item);
    transition: all 1s ease-in-out;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1;
    right: 1;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    &::before {
      width: 12.7%;
    }
  }
}

nav {
  margin: 5px;
  background: #f9f9f9;
  padding: 6px;
  .menuItems {
    list-style: none;
    display: flex;
    li {
      margin: 4rem;

      a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: 2em;
        font-weight: 200;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
        text-align: center;

        &::before {
          content: attr(data-item);
          transition: 0.5s;
          color: #8254ff;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 0;
          overflow: hidden;
        }

        &:hover {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}