<p data-item='PetPal' routerLink="/">PetPal</p>

<div class="boxText">
    <section>
        <nav>
            <ul class="menuItems">
                <li><a routerLink="/members" data-item='Matches'>Matches</a></li>
                <li><a routerLink="/messages" data-item='Messages'>Messages</a></li>
                <li><a routerLink="/pets" data-item='Pets'>Pets</a></li>
                <li><a routerLink="/links" data-item='Link'>Link</a></li>
                <li><a routerLink="/errors" data-item='Errors'>Errors</a></li>
            </ul>
        </nav>
    </section>
</div>
